<!DOCTYPE html>
<html lang="en">

<head>
	<title>ToDo-App</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta name="viewport" content = "width=device-width, initial-scale=1.0">



	<style type="text/css">
		html,
		body {
		  height:100%

		},


	</style>


</head>

<body class="body grad">
	<div  id='root'>
	</div>

</body>


	<script src={% static 'bundle.js'%}></script>


</html>
