<!DOCTYPE html>
<html lang="en">

<head>
	<title>ToDo-App</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		},

	</style>


</head>

<body class="body grad" >
	<div class='container'style='margin-top:15px'>
		
			<h1 class='text-center'>ToDo-List</h1>
			
		
		<div class='row' style='margin-top:100px'>
			<div class='col-md-4'></div>
			<div class='col-md-4 rounded ' style="background-color:#ffffff; box-shadow:10px 10px 5px #0b517c;padding:10px">
				{%block body %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>

</html>